<div id="<%= dom_id project %>" class="w-80 mx-auto">


                <table class="table table-bordered">
            <tbody>
                <tr>
                  <td><%= project.name %></td>
                  <td><%= project.client %></td>
                  <td><%= project.time %></td>
                   <td>  <%= link_to "Show this project", project %></td>
                </tr>
            </tbody>
          </table>

</div>
