
<% if @projects.empty? %>
  <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card text-center">
      <div class="card-header">No projects found</div>
      <div class="card-body">
        <p class="card-text">You have not created any projects yet.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create new Project
        </button>
      </div>
    </div>
  </div>
<% else %>
  <h1>Projects</h1>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Total Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.client %></td>
        <td><%= format_time(project.total_time) %></td>
        <td>
          <%= link_to "", project, method: :delete, class: "bi bi-trash3 text-danger", data: { confirm: "Are you sure you want to delete this project?" } %>
        </td>
        <td>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#<%= project.name %>" role="button" aria-expanded="false" aria-controls="<%= project.name %>">
              Tasks
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="collapse" id="<%= project.name %>">
            <div class="card card-body">
              <% if project.tasks.any? %>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% project.tasks.each do |task| %>
                      <tr>
                        <td><%= task.name %></td>
                        <td><%= task.description %></td>
                        <td><%= format_time(task.time) %></td>
                        <td>
                          <div class="btn-group" role="group">
                            <button class="btn btn-primary start-timer" data-task-id="<%= task.id %>">Start timer</button>
                            <button class="btn btn-danger stop-timer" data-task-id="<%= task.id %>">Stop timer</button>
                          </div>
                            <%= link_to "", task, method: :delete, class: "bi bi-trash3 text-danger", data: { confirm: "Are you sure you want to delete this project?" } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p>No tasks found for this project.</p>
              <% end %>
            </div>
            <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#taskModel<%= project.id %>">
              Create new Task
            </button>
          </div>
          <div class="modal fade" id="taskModel<%= project.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add a task to <%= project.name %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= render "tasks/form", task: @task, project: project %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
    Create new Project
  </button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", project: @project %>
      </div>
    </div>
  </div>
</div>


