<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
      <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Time</th>
                <th>Action</th>
              </tr>
            </thead>


      <% @projects.each do |project| %>
                <tbody>
                <tr>
                  <td><%= project.name %></td>
                  <td><%= project.client %></td>
                  <td><%= format_time(project.total_time) %></td>
                  <td>  <%= link_to "Show this project", project %></td>
                </tr>
            </tbody>

      <% end %>
  </table>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create new Project
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", project: @project %>
      </div>
    </div>
  </div>
</div>
